@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.trades::-webkit-scrollbar {
  visibility: hidden;
}

.trades:hover::-webkit-scrollbar {
  visibility: visible;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.trades::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #26272b;
  border-radius: 3px;
}


.new-trade-positive-enter {
  background-color: rgba(21, 159, 73, 0.2);
  transition: background-color 400ms;
}
.new-trade-positive-enter-done {
  transition: background-color 400ms;
  background-color: transparent;
}

.new-trade-negative-enter {
  background-color: rgba(223, 66, 73, 0.2);
  transition: background-color 400ms;
}
.new-trade-negative-enter-done {
  transition: background-color 400ms;
  background-color: transparent;
}

